@{
    ViewData["Title"] = "All Products";
}

<h3>Product Management</h3>
<button id="btnAdd" class="btn btn-success mb-2">Add Product</button>

<div id="gridProducts"></div>

<div id="popupProduct"></div>

@section Scripts {
    <script src="~/js/product.js"></script>
}


